Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  misc-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -misc-include-cleaner,
  -misc-unused-parameters,
  -portability-avoid-pragma-once

WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
