argcomplete==3.7.2
attrs==26.1.0
bandit==1.9.4
build==1.6.0
certifi==2026.7.22
cffi==2.1.1
cfgv==3.5.0
charset-normalizer==3.5.1
click==8.5.0
colorlog==6.12.0
coverage==7.16.0
cryptography==50.0.1
dependency-groups==1.3.2
distlib==0.4.3
docutils==0.23
filelock==3.32.5
humanize==4.16.0
id==1.6.1
identify==2.6.19
idna==3.19
iniconfig==2.3.0
jaraco-classes==3.4.0
jaraco-context==6.1.2
jaraco-functools==4.6.0
jeepney==0.9.0
jinja2==3.1.6
keyring==25.7.0
markdown-it-py==4.2.0
markupsafe==3.0.3
mdurl==0.1.2
more-itertools==11.1.0
nh3==0.3.7
nodeenv==1.10.0
nox==2026.8.17
omegaconf==2.4.0.dev15
packaging==26.3
pathspec==1.1.1
platformdirs==4.11.7
pluggy==1.6.0
pre-commit==4.6.2
py-cpuinfo2==10.1.1
pycparser==3.0
pygments==2.21.0
pyproject-hooks==1.2.0
pyrefly==1.1.1
pytest-benchmark==5.3.0
pytest==9.1.1
python-discovery==1.6.0
pyyaml==6.0.3
read-version==0.3.2
readme-renderer==46.0
requests-toolbelt==1.0.0
requests==2.34.2
rfc3986==2.0.0
rich==15.0.0
ruff==0.15.22
secretstorage==3.5.0
setuptools==84.0.0
stevedore==5.9.1
towncrier==25.8.0
twine==7.0.0
types-setuptools==84.0.0.20260812
urllib3==2.7.0
virtualenv==21.7.8
yamllint==1.38.0
